<!--Tableau & Pagination-->
<div 
    style="text-align:center"
    class=" body last">
    <!--Tableau-->
    <div 
        class="col-lg-12 container  tab">       
        <table 
            class="table table-hover table-bordered">
            <thead 
                class="thead-light">
                <tr>
                    <!--Num de carte-->
                    <th>
                        Num 
                    </th>
                    <!--BIN-->
                    <th 
                        scope="col">
                        BIN
                    </th>
                    <!--Type de carte-->
                    <th 
                        scope="col">
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    *ngFor="let c of carte, index as i ">
                    <!--Num de carte-->
                    <th>
                        {{c.Num}}
                    </th>
                    <!--BIN-->
                    <td>
                        {{ c.comptes[0].bin }}
                    </td>
                    <!--Type de carte-->
                    <td>
                        {{ c.info.type.type }}
                    </td>
                    <!--Button d'Annulation-->
                    <td>
                        <button 
                            class="btn selection" 
                            (click)="annuler(i)" >
                            Annuler
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!--Pagination-->
    <pagination></pagination>
</div>
