<div class="container  offset-lg-5">
    <div class="row first">
        <div class="a">
            <a routerLink="/accueil">
                <img src="assets/Acceuil/accueil.png" class="img">
            </a>
        </div>
        <div class="a">
            <a routerLink="/porteur">
                <img src="assets/Acceuil/dummy-user.jpg" class="img">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="a">
            <a routerLink="/gestionCarte">
                <img src="assets/Acceuil/Bank_card.jpg" class="img">
            </a>
        </div>
        <div class="a">
            <a routerLink="/gestionCarte">
                <img src="assets/Acceuil/commer.jpg" class="img">
            </a>
        </div>
    </div>
</div>