<div class="body col-lg-12 first">
    <div class="col-lg-8 offset-sm-1 margin ">  
        <form class="form">
           
            
            <div 
            class="form-inline">
            <label 
                for="code" 
                class="text-left col-lg-5">
                Code type
            </label>
            <input 
                type="text" 
                id="code"
                name="code"
                ngModel 
                class="form-control is-valid col-lg-5">
            <button 
                class="btn btn-success">
                Chercher
            </button>
            </div>
        </form>
    
    </div>

</div>  
<div class="body ">
    <div class="offset col-sm-10 offset-sm-1">       
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light" >
                <tr>
                    <th scope="col">Code type</th>
                    <th scope="col">Libelle </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of type;index as i">
                        <th scope="row">{{t.code_type}}</th>
                        <td>{{ t.type }}</td>
                        <td>
                            <button 
                                class="btn btn-warning" 
                                (click)="Edit(t)" >
                                Modifier
                            </button>
                            <button 
                                class="btn btn-danger" 
                                (click)="remove(i)" >
                                Supprimer
                            </button>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-4 offset-lg-4 mt-4">

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div> 
    
<div
        class="d-flex justify-content-center marg">
        <button 
            class="btn btn-secondary"
            (click)="add()"
            >Ajouter un nouveau plafond </button>
</div>

