<div class="container-fluid">
  <div class="row pl-3 pr-3">

    <div class="col-lg-2 shadow-sm p-3 mb-5 bg-white rounded">

      <!-- Vertical navbar -->
      <div class="vertical-nav bg-white" id="sidebar">

        <div class="py-4 px-3 mb-3 bg-light">
          <!-- Logo and Name  -->
          <div class="media d-flex align-items-center">
            <img src="../assets/man-300x300.png" alt="..." width="65"
              class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
              <!-- name of user -->
              <p>Badr Eddine Akkar</p>
              <!-- role user -->
              <p class="text-muted mb-0">Normal user</p>
            </div>
          </div>
        </div>



        <!-- Start Menu  -->

        <!-- Start Home -->
        <div class="accordion mt-4" id="page_home">
          <div class="card">
            <div class="card-header" id="headingOne">
              <p class="mb-0" data-toggle="collapse" data-target="#home" aria-expanded="true" aria-controls="home">
                <i class="fa fa-home"></i>
                <span>Home</span>
              </p>
            </div>

            <div id="home" class="collapse show" aria-labelledby="headingOne" data-parent="#page_home">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-times"></i>
                    <span> <a href="">Cras justo odio</a> </span>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check"></i>
                    <span> <a href="">Dapibus ac facilisis in</a> </span>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-cog"></i>
                    <span> <a href="">Morbi leo risus</a> </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- End Home -->

        <!-- Start Home -->
        <div class="accordion mt-4" id="page_porteur">
          <div class="card">
            <div class="card-header" id="headingPorteur">
              <p class="mb-0" data-toggle="collapse" data-target="#porteur" aria-expanded="true" aria-controls="home">
                <i class="fa fa-home"></i>
                <span>Porteur</span>
              </p>
            </div>

            <div id="porteur" class="collapse show" aria-labelledby="headingPorteur" data-parent="#page_porteur">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-times"></i>
                    <span> <a [routerLink]="['/porteur']"> Gestion Porteur </a> </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- End Home -->

        

        <!-- Start Module Cart -->
        <div class="accordion mt-4" id="cart">
          <div class="card">
            <div class="card-header" id="c">
              <p class="mb-0" data-toggle="collapse" data-target="#collapseCart" aria-expanded="true"
                aria-controls="collapseCart">
                <i class="fa fa-credit-card-alt"></i>
                <span>Carte</span>
              </p>
            </div>

            <div id="collapseCart" class="collapse show" aria-labelledby="c" data-parent="#cart">
              <div class="card-body">
                <ul class="list-group">
                  <li class="list-group-item">
                    <i class="fa fa-times"></i>
                    <span> <a [routerLink]="'/gestionCarte'">Gestion des cartes</a> </span>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-check"></i>
                    <span> <a href="">Dapibus ac facilisis in</a> </span>
                  </li>
                  <li class="list-group-item">
                    <i class="fa fa-cog"></i>
                    <span> <a href="">Morbi leo risus</a> </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- End Module Cart -->
        <!-- End Menu  -->



      </div>
      <!-- End vertical navbar -->

    </div>

    <div class="col-lg-10 container marg">
      <!-- Start Content  -->
      <router-outlet></router-outlet>
      <!-- End Content -->
    </div>

  </div>
</div>